Binaries
DerivedDataCache
Intermediate
Saved
RawAssets
Plugins
Builds
Build
Textures

.idea
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace 

# Wwise
.cache
*.prof
*.validationcache
*.wsettings
*.akd
*.bnk
WwiseAudio

